<launch>

    <arg name="data_port" default="2368"/>
    <arg name="tele_port" default="8308"/>
    <arg name="tf_prefix" default=""/>
    <!-- unplug gps plug; system-> reset; plug gps -> no removal of power required; -->

    <param name="tf_prefix" value="$(arg tf_prefix)"/>
    <param name="data_port" value="$(arg data_port)" />
    <param name="tele_port" value="$(arg tele_port)" />

    <node pkg="ttc_based_critical_situation_identifier" type="velodyne_udp.py" name="velodyne_udp" output="screen" />
    <node pkg="ttc_based_critical_situation_identifier" type="velodyne_points.py" name="velodyne_points" output="screen" />
    <!--
    <node pkg="rviz" type="rviz" name="my_rviz" args="-d $(find ttc_based_critical_situation_identifier)/rviz/rviz_velo.rviz" output="screen" />
-->

</launch>